@charset "utf-8";

/* CSS Document */

.detailForm {
  width: 710px;
  margin: 0 auto;
  position: relative;
  padding-top: 20px;
  h1 {
    font-size: 30px;
    color: #4a5763;
    text-align: center;
    margin: 0px 0px 15px 0px;
  }
  .prevNextNav {
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
  }
  .formBox {
    border: 1px solid #45c9c3;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    .formHeading {
      background: #c7efed;
      min-height: 38px;
      float: left;
      width: 100%;
      padding: 5px 0px;
      border-radius: 5px 5px 0px 0px;
      -webkit-border-radius: 5px 5px 0px 0px;
      h3 {
        font-size: 23px;
        margin: 0px;
        color: #4a5763;
        float: left;
        padding-left: 20px;
        line-height: 34px;
      }
      span {
        font-size: 18px;
        margin: 0px;
        color: #4a5763;
        float: right;
        padding-right: 20px;
        line-height: 34px;
      }
    }
  }
  .formContent {
    padding: 20px 20px 0px 20px;
    display: inline-block;
    .userNameImg {
      padding-bottom: 15px;
      .noImage {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        border: 5px solid #ff493e;
        width: 94px;
        height: 94px;
        display: inline-block;
      }
      img {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        width: 84px;
        height: 84px;
      }
    }
  }
}

/*.detailForm .prevNextNav a{ width:58px; height:34px; background-image:url(../images/prevNext.png); background-repeat:no-repeat; background-color:#596877; border-right:3px solid #4a5763; margin:0px 20px; border-radius:5px 5px 0px 0px; -webkit-border-radius:5px 5px 0px 0px;}
.detailForm .prevNextNav a.prevPage{ background-position:0px 0px; float:left;}
.detailForm .prevNextNav a.nextPage{ background-position:0px -44px; float:right;}*/

.formContent {
  .userNameImg label {
    color: #4a5763;
    font-size: 18px;
    padding-left: 20px;
  }
  .formRow {
    padding-bottom: 17px;
    label {
      color: #4a5763;
      font-size: 18px;
      letter-spacing: -1px;
      padding: 0px 0px 3px 0px;
      line-height: 20px;
      width: 100%;
      span {
        color: #4a5763;
        font-size: 14px;
        letter-spacing: -1px;
      }
    }
    textarea {
      resize: none;
      background: #e5e6e6;
      -moz-box-shadow: -2px -2px 1px #d9dada;
      -webkit-box-shadow: -2px -2px 1px #d9dada;
      box-shadow: -2px -2px 1px #d9dada;
      height: 120px;
      &.width65 {
        width: 65%;
      }
    }
    select {
      background: #e5e6e6;
      -moz-box-shadow: -2px -2px 1px #d9dada;
      -webkit-box-shadow: -2px -2px 1px #d9dada;
      box-shadow: -2px -2px 1px #d9dada;
      &.width65 {
        width: 65%;
      }
    }
    p {
      color: #4A5763;
      font-size: 15px;
      line-height: 18px;
      margin: 0;
    }
  }
}

.detailForm {
  .bottomBtn {
    text-align: center;
    padding: 20px 0px;
    display: inline-block;
    width: 100%;
    .btn-continue {
      background-color: #49b3fd;
      border-color: #3da0fc;
      color: #FFFFFF;
      font-size: 24px;
      -moz-box-shadow: 0px 2px 0px #3da0fc;
      -webkit-box-shadow: 0px 2px 0px #3da0fc;
      box-shadow: 0px 2px 0px #3da0fc;
      padding: 4px 15px;
    }
    .btn-back {
      background-color: #596877;
      border-color: #4a5763;
      color: #FFFFFF;
      font-size: 24px;
      -moz-box-shadow: 0px 2px 0px #4a5763;
      -webkit-box-shadow: 0px 2px 0px #4a5763;
      box-shadow: 0px 2px 0px #4a5763;
      padding: 4px 15px;
    }
    .fleft {
      float: left;
    }
    .fright {
      float: right;
    }
  }
  .formContent .bestTimeTakeCall {
    label {
      font-size: 16px;
      color: #4A5763;
      line-height: 18px;
      font-weight: normal;
      padding-bottom: 12px;
    }
    .bestTimeDigit {
      margin: 0px 0px 15px 0px;
      span {
        color: #3da0fc;
        font-size: 16px;
        font-weight: bold;
        border: 1px solid #999;
        padding: 7px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
      }
    }
  }
}

/*Step-2 page Css start*/

.formContent .formRow {
  .suggestTime {
    label {
      color: #4a5763;
      font-size: 18px;
      letter-spacing: -1px;
      padding: 0px 0px 3px 0px;
      line-height: 20px;
      width: 100%;
      span {
        color: #4a5763;
        font-size: 14px;
        letter-spacing: -1px;
      }
    }
    span.atText {
      color: #4a5763;
      font-size: 16px;
      padding: 4px 25px;
    }
    input.width40, select.width40 {
      width: 40%;
    }
    .fleft {
      float: left;
    }
  }
  input {
    background: #e5e6e6;
    -moz-box-shadow: -2px -2px 1px #d9dada;
    -webkit-box-shadow: -2px -2px 1px #d9dada;
    box-shadow: -2px -2px 1px #d9dada;
  }
}

.formRow {
  &:before {
    display: table;
    content: " ";
  }
  &:after {
    display: table;
    content: " ";
    clear: both;
  }
}

/*Step-2 page Css start*/

.formContent .formRow {
  .creditCardDetail input {
    &.width40 {
      width: 40%;
      float: left;
      margin-right: 20px;
    }
    &.width10 {
      width: 10%;
      float: left;
    }
  }
  .expireDateDetail select {
    &.width40 {
      width: 40%;
      float: left;
      margin-right: 20px;
    }
    &.width20 {
      width: 20%;
    }
  }
  .estimatedTotal span {
    color: #4a5763;
    font-size: 16px;
    letter-spacing: -1px;
    padding: 0px 0px 3px 20px;
    line-height: 20px;
    width: 100%;
    font-weight: normal;
  }
}

.detailForm .formContent .confirmCallDetail {
  label {
    padding-bottom: 15px;
  }
  .bestTimeDigit {
    margin: 0px 0px 15px 0px;
    span {
      color: #3da0fc;
      font-size: 16px;
      font-weight: bold;
      border: 1px solid #999;
      padding: 7px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }
  }
}