@import "typography";

.home-index{
  .hero {
    @include gradient($white, $light-gray);
    color: #475664;
    border-bottom: 1px solid #DADDDF;
    padding-bottom: 40px;
    line-height: 160%;
    font-size: 15px;
    h1 {
      font-size: 40px;
      font-weight: 400;
      margin-top: 30px;
    }
    h2 {
      font-size: 20px;
      margin: 0 0 10px 0;
    }
    .list-row {
      h2 {
        padding: 5px 0;
        .glyphicon {
          margin-right: 5px;
        }
      }
    }
    .banner {
      margin: 20px 0;
      background-color: #00CFC7;
      h2 {
        color: $white;
        font-size: 20px;
        margin: 10px 0;
      }
      .search-form {
        margin: 8px 0;
        position: relative;
        .btn-default {
          position: absolute;
          top: 0;
          right: 0;
          background-color: $light-gray;
          color: #CCC;
        }
      }
      .holder {
        position: relative;
        overflow: hidden;
        min-height: 50px;
      }
      .glyphicon-chevron-right {
        color: $white;
        font-size: 85px;
        position: absolute;
        top: -20px;
        &.arrow-1 {
          left: 0;
        }
        &.arrow-2 {
          left: 50px;
        }
        &.arrow-3 {
          left: 100px;
        }
      }
      .signup-circle {
        @include circle(160px);
        background-color: $red;
        display: block;
        position: absolute;
        top: -57px;
        padding: 5px;
        &:hover {
          text-decoration: none;
        }
        .inner {
          @include circle(150px);
          background-color: $white;
          padding: 8px;
          .deep {
            @include circle(134px);
            background-color: $red;
            color: $white;
            font-size: 15px;
            position: relative;
            sup {
              position: absolute;
              top: 46px;
              left: 0;
              width: 134px;
              text-align: center;
              font-size: 15px;
            }
            strong {
              font-size: 40px;
              line-height: 150px;
            }
          }
        }
      }
    }
  }

  .mentors {
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 150%;
    h2{
      margin: 20px 0 35px;
      font-size: 40px;
      font-weight: 400;
      margin-top: 30px;
    }
    .col-md-2 {
      padding-left: 0;
    }
    .arrow-holder {
      position: relative;
      .arrow {
        @include circle(27px);
        border: 1px solid #CCC;
        background-color: $light-gray;
        color: #CCC;
        position: absolute;
        top: 115px;
      }
      .left-arrow {
        right: 20px;
      }
      .right-arrow {
        left: 5px;
      }
    }
    .card {
      @include round-corners(6px);
      @include box-shadow(1px, #CCC);
      cursor: pointer;
      border: 1px solid #CCC;
      .photo {
        position: relative;
        .overlay {
          position: absolute;
          height: 27px;
          width: 100%;
          bottom: 0;
          left: 0;
          color: $white;
          padding: 5px;
          background-color: rgba(0, 0, 0, 0.7);
        }
        img {
          @include top-round-corners(6px);
          width: 100%;
        }
      }
      .info {
        padding: 5px;
      }
      .action {
        @include bottom-round-corners(6px);
        display: block;
        background-color: $light-gray;
        color: $red;
        border-top: 1px solid #DADDDF;
        padding: 5px;
      }
    }
    .search-card {
      padding: 15px;
      border: 1px solid #CCC;
      margin-bottom: 15px;
      .profile-padd {
        padding-right :0;
      }
      .photo {
        position: relative;
        .overlay {
          position: absolute;
          height: 27px;
          width: 100%;
          bottom: 0;
          left: 0;
          color: $white;
          padding: 5px;
          background-color: rgba(0, 0, 0, 0.7);
        }
        img {
          width: 100%;
        }
      }
      .info {
        padding: 5px;
        .glyphicon {
          padding-right: 5px;
        }
        .full-name {
          font-size: 18px;
          margin-bottom: 10px;
        }
      }
      .search-right-part{
        text-align: center;
        .mentor-call-rate {
          padding-bottom: 10px;
        }
        .review-count {
          float: right;
          margin-right:36px;
          margin-top: -34px;
        }
      }
      .btn-orange {
        @include gradient(#FF860D, #FF860D);
        border-color: $white;
        color: $white;
        font-size: 20px;
        &:hover, &:active, &:focus {
          @include gradient(#FF860D, #FF860D);
          border-color: $white;
          color: $white;
        }
      }
      .rating{
        color: #a9a9a9;
        margin: 0;
        padding: 0;
      }

      ul.rating {
        display: inline-block;
      }

      .rating li {
        list-style-type: none;
        display: inline-block;
        padding: 1px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
      }

      .rating .filled {
        color: #FF860D;
      }
    }
    .work-text {
      text-align: center;
      .step-count {
        display: inline-block;
        border: 2px solid #000;
        border-radius: 15px;
        width: 25px;
        height: 25px;
      }
    }
  }
  .our-mission {
    margin-top: 40px;
    .mission-text {
      margin-bottom: 20px;
    }
  }
  .mentor-search-form {
    padding: 25px 0;
  }
  .btn-search-green {
    font-weight: bold;
    border-radius: 0;
    border-color: #3D8C0B;
    background: #3D8C0B;
  }
  .form-search-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: inline;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 83.87%;
  }
  .result-text {
    font-size: 20px;
    padding-bottom: 20px;
  }
}

.home-form {
  .hero {
    @include gradient($white, $light-gray);
    border-bottom: 1px solid #DADDDF;
    .jumbotron {
      background: none;
      padding:20px 0;
      line-height: 1em;
      label {
        font-size: 14px;
      }
    }
  }
  .info-message{
    padding: 20px 0 40px;
  }
  .button-group{
    .reset-link {
      font-size: 16px;
    }
    .btn-signup {
      font-size: 25px;
      width: 50%;
    }
  }
  .button-signup {
    text-align: center;
  }

  .setting-nav {
    li {
      border-bottom: 1px solid #D9D8E3;
    }
    li:last-child {
      border-bottom: none;
    }
    a {
      color: $black;
    }
  }
  .chev-right {
      position: absolute;
      right: 12px;
      top: 15px;
  }
  .chev-right, .chev-left {
      background-position: 0 -140px;
      height: 13px;
      width: 9px;
  }
  i, .icon {
      background-image: url("/assets/twitter_web_sprite_icons.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      vertical-align: text-top;
  }
  .back-link {
    display: block;
    position:relative;
    float: left;
    font-size: 21px;
    left: 15px;
    span {
      background-image: url("/assets/left_arrow.png");
      background-position: 0 10px;
      background-repeat: no-repeat;
      font-size: 31px;
      padding: 5px 29px;
      color: #3DA0F8;
    }
  }
  .back-link:hover {
    text-decoration: none;
  }
  .link-red {
    color: #CE0000;
    text-decoration:underline;
  }
}

.mgBtm {
  margin-bottom :0;
}
.width50 {
  width: 48.9%;
  display:inline-block;
}

.width60 {
  width: 58.9%;
  display:inline-block;
}

.width30 {
  width: 29.9%;
  display:inline-block;
}

.pt5 {
  padding-top: 5px;
}