@import "typography";

.profile-index {
  .hero {
    @include gradient($white, $light-gray);
    border-bottom: 1px solid #DADDDF;
    .jumbotron {
      background: none;
      padding: 20px 0;
      line-height: 1em;
      label {
        font-size: 14px;
      }
      .button-group > .cancel-link {
        font-size: 12px;
        padding-left: 15px;
      }
    }
  }
  .info-message, .welcome-message {
    .text-center {
      padding-bottom: 40px;
    }
    h1 {
      margin-top: 40px;
    }
  }
  .welcome-message{
    p {
      margin-top: 20px;
    }
    .welcome-note {
      font-size: 17px;
      margin-left: 50px;
      text-align: left;
    }
    .remember-note {
      color: $red;
      font-size: 17px;
      margin-left: 40px;
      margin-top: 40px;
      text-align: left;
    }
  }
  .member-section {
    padding: 40px 0;
    line-height: 180%;
    .hero {
      min-height: 200px;
    }
    .glyphicon{
      padding-right: 10px;
    }
    .circle {
      margin: 0 auto;
      cursor: pointer;
      @include circle(160px);
      background-color: $red;
      padding: 5px;
      .inner {
        background-color: $white;
        padding: 5px;
        @include circle(150px);
        img {
          @include circle(140px);
          width: 140px;
          height: 140px;
        }
      }
      &:hover {
        background-color: $green;
      }
    }
    h1 {
      font-weight: normal;
      font-size: 30px;
      margin: 0 0 10px 0;
    }
  }
  .mentor-section {
    .hero{
      padding-bottom: 20px;
      margin-bottom: 0;
      min-height: 200px;
    }
    h1 {
      margin-top: 40px;
    }
    .current-role {
      margin: 10px 0;
      font-size: 16px;
      .linkedin-logo {
        margin: 1px 0 0 8px;
      }
    }
    .timeslot {
      margin-top: 90px;
      line-height: 160%;
    }
    section {
      margin-bottom: 10px;
      .glyphicon {
        padding-right: 5px;
      }
      ol {
        margin-left: 5px;
      }
    }
    .banner {
      margin: 0 0 20px;
      padding: 10px 0;
      background-color: #00CFC7;
      position: relative;
      color: $white;
      .btn-default {
        border: 1px solid $white;
        @include gradient(#FF645B, #FF493F);
        color: $white;
        margin-top: 10px;
      }
      strong {
        margin: 7px 0 0 15px;
        font-size: 28px;
      }
      .avg-call-time {
        margin: 21px 0 0 10px;
      }
    }
    .circle {
      @include circle(160px);
      position: relative;
      top: 5px;
      left: 0;
      background-color: $red;
      padding: 5px;
      .inner {
        background-color: $white;
        padding: 5px;
        @include circle(150px);
        img {
          @include circle(140px);
        }
      }
    }
    .name-position {
      position: relative;
      left: -17px;
      top: 23px;
    }
  }
}