@import "typography";

.profile-index {
  .hero {
    @include gradient($white, $light-gray);
    border-bottom: 1px solid #DADDDF;
    .jumbotron {
      background: none;
      padding: 20px 0;
      line-height: 1em;
      label {
        font-size: 14px;
      }
      .button-group > .cancel-link {
        font-size: 12px;
        padding-left: 15px;
      }
    }
  }
  .info-message, .welcome-message {
    .text-center {
      padding-bottom: 40px;
    }
    h1 {
      margin-top: 40px;
    }
  }
  .welcome-message p {
    margin-top: 20px;
  }
  .member-section {
    padding: 40px 0;
    line-height: 180%;
    .glyphicon{
      padding-right: 10px;
    }
    .circle {
      margin: 0 auto;
      cursor: pointer;
      @include circle(160px);
      background-color: $red;
      padding: 5px;
      .inner {
        background-color: $white;
        padding: 5px;
        @include circle(150px);
        img {
          @include circle(140px);
          width: 140px;
          height: 140px;
        }
      }
      &:hover {
        background-color: $green;
      }
    }
    h1 {
      font-weight: normal;
      font-size: 30px;
      margin: 0 0 10px 0;
    }
  }
}