@import "typography";

.profile-index {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  .hero {
    @include gradient($white, $light-gray);
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: #475664;
    border-bottom: 1px solid #DADDDF;
    line-height: 150%;
    h1 {
      margin-top: 40px;
    }
    .current-role {
      margin: 10px 0;
      font-size: 16px;
      .linkedin-logo {
        margin: 1px 0 0 8px;
      }
    }
    .timeslot {
      margin-top: 90px;
      line-height: 160%;
    }
    section {
      margin-bottom: 10px;
      .glyphicon {
        padding-right: 5px;
      }
      ol {
        margin-left: 5px;
      }
    }
    .banner {
      margin: 20px 0;
      padding: 10px 0;
      background-color: #00CFC7;
      position: relative;
      color: $white;
      .btn-default {
        border: 1px solid $white;
        @include gradient(#FF645B, #FF493F);
        color: $white;
      }
      strong {
        margin: 7px 0 0 15px;
        font-size: 28px;
      }
      .avg-call-time {
        margin: 11px 0 0 10px;
      }
    }
    .circle {
      @include circle(160px);
      position: absolute;
      top: -70px;
      left: 0;
      background-color: $red;
      padding: 5px;
      .inner {
        background-color: $white;
        padding: 5px;
        @include circle(150px);
        img {
          @include circle(140px);
        }
      }
    }
  }
  .reviews {
    margin-bottom: 10px;
    h2 {
      margin-top: 0;
    }
    strong {
      font-size: 20px;
      font-weight: normal;
      padding-right: 10px;
      margin-top: -6px;
    }
    .glyphicon-star {
      color: $gold;
      width: 12px;
      font-size: 16px;
      &.empty {
        color: #999;
      }
    }
    .review-link {
      font-size: 12px;
      padding-left: 10px;
    }
    .row {
      .inner{
        @include round-corners(6px);
        position: relative;
        background-color: $light-gray;
        padding: 10px 10px 10px 60px;
        margin-left: 40px;
        margin-top: 15px;
        h3 {
          font-size: 18px;
          margin: 0;
          padding: 0 10px 0 0;
        }
        .content{
          margin: 5px 0;
          line-height: 160%;
        }
        small {
          color: #999;
          font-size: 12px;
        }
        .circle {
          @include circle(80px);
          position: absolute;
          top: 20px;
          left: -30px;
          background-color: $white;
          padding: 5px;
          img {
            @include circle(70px);
          }
        }
      }
    }
  }
}