@import "typography";

.profile-index {
  .hero {
    @include gradient($white, $light-gray);
    border-bottom: 1px solid #DADDDF;
    .jumbotron {
      background: none;
      padding: 20px 0;
      line-height: 1em;
      label {
        font-size: 14px;
      }
      .button-group > .cancel-link {
        font-size: 12px;
        padding-left: 15px;
      }
    }
  }
  .info-message, .welcome-message {
    .text-center {
      padding-bottom: 40px;
    }
    h1 {
      margin-top: 40px;
    }
  }
  .welcome-message{
    p {
      margin-top: 20px;
    }
    .welcome-note {
      font-size: 17px;
      margin-left: 50px;
      text-align: left;
    }
    .remember-note {
      color: $red;
      font-size: 17px;
      margin-left: 40px;
      margin-top: 40px;
      text-align: left;
    }
  }
  .member-section {
    padding: 40px 0;
    line-height: 180%;
    .hero {
      min-height: 200px;
    }
    .glyphicon{
      padding-right: 10px;
    }
    .circle {
      margin: 0 auto;
      cursor: pointer;
      @include circle(160px);
      background-color: $red;
      padding: 5px;
      .inner {
        background-color: $white;
        padding: 5px;
        @include circle(150px);
        img {
          @include circle(140px);
          width: 140px;
          height: 140px;
        }
      }
      &:hover {
        background-color: $green;
      }
    }
    h1 {
      font-weight: normal;
      font-size: 30px;
      margin: 0 0 10px 0;
    }
  }
  .mentor-section {
    .hero{
      padding-bottom: 20px;
      padding-top: 15px;
      margin-bottom: 0;
      min-height: 200px;
      background: none repeat scroll 0 0 #F2F4F6;
    }
    h1 {
      margin-top: 40px;
    }
    .current-role {
      margin: 10px 0;
      font-size: 16px;
      .linkedin-logo {
        margin: 1px 0 0 8px;
      }
    }
    .timeslot {
      margin-top: 90px;
      line-height: 160%;
    }
    section {
      margin-bottom: 10px;
      .glyphicon {
        padding-right: 5px;
      }
      ol {
        margin-left: 5px;
      }
    }
    .banner {
      margin: 0 0 20px;
      padding: 10px 0;
      background-color: #00CFC7;
      position: relative;
      color: $white;
      .btn-default {
        border: 1px solid $white;
        @include gradient(#FF645B, #FF493F);
        color: $white;
        margin-top: 10px;
      }
      strong {
        margin: 7px 0 0 15px;
        font-size: 28px;
      }
      .avg-call-time {
        margin: 21px 0 0 10px;
      }
    }
    .circle {
      @include circle(160px);
      position: relative;
      top: 5px;
      left: 0;
      background-color: $red;
      padding: 5px;
      .inner {
        background-color: $white;
        padding: 5px;
        @include circle(150px);
        img {
          @include circle(140px);
        }
      }
    }
    .name-position {
      position: relative;
      left: -17px;
      top: 23px;
    }

    .profile-page {
      width: 100%;
      font-size:13px;
      line-height:21px;
      color:#333333;
      }
    .profile-page {
        h3{
        font-size:20px;
      font-weight:bold;
      margin-top:0px;
      margin-bottom:12px;
      padding-bottom:12px;
      border-bottom:1px solid #F2F4F6;
      }
      h4{
        font-size:18px;
      font-weight:bold;
      margin-top:0px;
      margin-bottom:15px;
      }
      p.ng-binding{
      margin-bottom:20px;
      }
    }

    .text-center {
      text-align: center;
    }

    .availibility {
      background: #fff;
      text-align: center;
      margin-top: 10px;
      padding: 5px;
      border: 2px solid #fff;
      @include round-corners(10px);
      h1 {
        font-size: 30px;
      }
    }

    .review-section {
      background: #fff;
      text-align: left;
      margin-top: 10px;
      padding: 5px;
      border: 2px solid #fff;
      @include round-corners(10px);
    }

    .user-detail {
      background: #fff;
      text-align: center;
      margin-top: 15px;
      padding: 5px 15px 15px 15px;
      border: 2px solid #fff;
      @include round-corners(10px);
      h1 {
        font-size: 30px;
      }
      .detail-content {
        text-align: left;
        position: relative;
        padding-left:0px;
        div {
          width: 100%;
        }
        span {
          margin-right: 5px;
        }
        .glyphicon{
          color:#a7aaab;
          font-size: 17px;
            margin-top: 1px;
            vertical-align: top;
        }
        section{
          margin-bottom:0;
        }
        hr.grayHR {
          background-color: #F0F0F0;
          border: 0 none;
          height: 1px;
          margin: 6px 0;
        }
      }
    }

    .headline {
      padding-left: 5px;
      padding-top: 15px;
    }

    .left-side {
      padding-left: 0px;
    }

    .profileBox {
      background: #fff;
      padding: 15px;
      border: 2px solid #fff;
      @include round-corners(10px);
      margin-top: 15px;
      margin-bottom: 10px;
    }

    .contentBox {
      background: #fff;
      padding: 15px;
      border: 2px solid #fff;
      margin-top: 15px;
      margin-bottom: 10px;
    }

    .boxHeader {
      margin-top: 5px;
    }

    .right-side {
      margin-top: 55px;
    }

    .mentorRate {
      padding-bottom: 10px;
      font-weight: bold;
    }

    .review {
      padding-left: 0px;
      width: 100%;
      .review-content {
        width: 87.333%;
        padding-left: 0px;
        border-bottom: 1px solid #000;
        .review-body {
          margin-bottom: 10px;
        }
        h3 {
          margin-top: 0px;
        }
      }
      .review-img {
        padding-left: 0px;
        float: left;
        width: 12%;
        img {
          border-radius: 4px;
        }
      }
    }
    .currentWork {
      font-size: 17px;
    }
    .mrT40 {
      margin-top: 40px;
    }
    .starRating {
      padding-right: 15px;
      width: 30.333%;
    }
    .xeditable-fields {
      display: inline-block;
      border-bottom: 1px solid #F2F4F6;
      width: 100%;
      h1 {
        display: inline-block;
      }
      h3 {
        border-bottom: none;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 12px;
        margin-top: 0;
        padding-bottom: 2px;
        display: inline-block;
      }
      button {
        display: inline-block;
      }
    }
    .form-edit {
      display:inline-block;
      float: right;
      a {
        color: $red;
      }
      .edit-link {
        margin-top: 40px;
      }
    }
    .edit-link {
      font-size: 13px;
    }
    .name-form-edit {
      float: right;
      a {
        color: $red;
      }
    }
    .form-fields {
      float: left;
      text-align: left;
    }
  }
}
.text-danger {
  font-weight: normal;
}
.width40 {
  width: 40%;
}
.stepHeader {
  float: right;
  color: blue;
  font-size: 18px;
  margin-top: -45px;
}
.fRight {
  float: right;
}
.fLeft {
  float: left;
}
.btn-xlarge {
  border-radius: 6px 6px 6px 6px;
  font-size: 20px;
  line-height: 1.53;
  padding: 12px 150px;
}

.btn-blue-large {
  border-radius: 6px 6px 6px 6px;
  font-size: 20px;
  line-height: 1.53;
  width: 100%;
  padding: 16px;
}

.paddL0 {
  padding-left:0px;
}