<!DOCTYPE html>
<html lang='en'>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
Hey <%= @member.user.first_name %>,
</p>
<p>
It looks like <%= @mentor.user.first_name %> is a bit too busy to answer calls right now. We truly apologize for the inconvenience, and your credit card will not be charged for anything.
</p>
<p>
We hope you can find someone else on our site that fits your needs.
</p>
<p>
Sincerely, <br />
Shyne Team
<p>
</body>
</html>