<!DOCTYPE html>
<html lang='en'>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
Hey <%= @member.user.first_name %>,
</p>
<p>
We're really sorry to say that your call scheduled on <%= @call_request.scheduled_date %> has been cancelled. The other party can no longer attend and had to cancel.
</p>
<p>
We truly hope you can find someone else on Shyne that can offer helpful advice.
</p>
<p>
Sincerely, <br />
The Shyne Team
<p>
</body>
</html>