<div data-extend-template="/layouts/layout.html">
  <div data-block="content">
    <div class="container" ng-show="flash_message">
      <div class="col-md-7 col-md-offset-2 successMsg mb10">
        <span class="iconPro i_check_w"></span>{{flash_message}} <a class="iconPro i_close_b fr" hide-flash-message></a>
      </div>
    </div>
    <section class="applicationMentors">
      <div class="container">
          <div class="row">
              <div class="col-md-7 col-md-offset-2">
                  <div ng-hide="user">
                    <form novalidate role="form" name="resetpasswordForm" ng-submit="password_reset()">
                      <div class="formBox mt20">
                        <h3>Forgot your password?</h3>
                          <div class="row">
                            <div class="col-sm-12">
                                <label for="loginEmail">Email Address</label>
                                <input name="email" ng-model="forgotModel.email" type="email" id="loginEmail" placeholder="Enter email" required="" auto-focus>
                                <div class="error">{{resetpasswordFormError}}</div>
                            </div>
                          </div>
                          <div class="bottomBtn">
                              <button type="button" class="btn grd-org btnOrgLg ml20 fr" type="submit" ng-disabled="resetpasswordForm.$invalid" ng-click="password_reset()">Send me reset password instructions</button>
                          </div>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>
    </section>
  </div>
</div>