<div class="home-form">
    <header>
        <div class="container">
            <nav class="masthead">
                <ul class="nav navbar-nav pull-right">
                    <li ng-hide="user"><a href="#/login">Log In</a></li>
                    <li ng-show="user"><a href="#" ng-click="logout()">Log Out</a></li>
                </ul>
            </nav>
            <a class="logo" href="#/">Shyne</a>
        </div>
    </header>
    <div class="flash-message" ng-show="flash_message">
        <div class="inner" title="Click to hide this message" hide-flash-message>{{flash_message}}</div>
    </div>
    <div class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="jumbotron" ng-hide="user">
                        <h2>Forgot your password?</h2>
                        <form novalidate role="form" name="resetpasswordForm" class="css-form" ng-submit="password_reset()">
                            <div class="form-group">
                                <label for="loginEmail">Email Address <span class="text-danger">{{resetpasswordFormError}}</span></label>
                                <input name="email" ng-model="forgotModel.email" type="email" class="form-control" id="loginEmail" placeholder="Enter email" required="" auto-focus>
                            </div>
                            <div class="button-group">
                                <button type="button" class="btn btn-primary" type="submit" ng-disabled="resetpasswordForm.$invalid" ng-click="password_reset()">Send me reset password instructions</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include src="'shared/footer.html'"></div>
</div>