<div data-extend-template="/layouts/layout.html">
  <div data-block="content">
    <section ng-hide="user" class="applicationMentors">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-md-offset-2">
            <div class="text-center">
              <h3>Please <a class="tcOrg" href="#/login">log in</a> to access messages</h3>
              <p class="R20R">Don't have an account? <a class="tcOrg" href="#/signup">sign up now</a> for free.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container" ng-show="flash_message">
      <div class="col-md-7 col-md-offset-2 successMsg mb10">
        <span class="iconPro i_check_w"></span>{{flash_message}} <a class="iconPro i_close_b fr" title="Click to hide this message" hide-flash-message></a>
      </div>
    </div>
    <section class="settings" ng-if="user">
      <div class="container">
        <h2 ng-show="settings.tab == 'basic_info'">Basic Information</h2>
        <h2 ng-show="settings.tab == 'change_password'">Change Password</h2>
        <h2 ng-show="settings.tab == 'credit_card'">{{ (user.user.role_type == 'Member' && creditCardInfo.length > 0) && 'Current card on file' || 'No current credit card on file' }}</h2>
        <h2 ng-show="settings.tab == 'bank_account'">{{ (user.user.role_type == 'Mentor' && bankAccountInfo.length > 0) && 'Current account on file' || 'No current bank account on file' }}</h2>
        <h2 ng-show="settings.tab == 'email_notification'">Email Notifications</h2>
        <h2 ng-show="settings.tab == 'account_status'">Account Status</h2>
        <div class="clAll"></div>
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <a href="" class="btn btn-default {{ settings.tab == 'basic_info' && 'active' || '' }}" ng-click="settings.tab = 'basic_info'">Basic Information<span class="caretB"></span></a>
          </div>
          <div class="btn-group">
            <a href="" class="btn btn-default {{ settings.tab == 'change_password' && 'active' || '' }}"  ng-click="settings.tab = 'change_password'">Change Password<span class="caretB"></span></a>
          </div>
          <div class="btn-group" ng-show="user.role_type == 'Member'">
            <a href="" class="btn btn-default {{ settings.tab == 'credit_card' && 'active' || '' }}"  ng-click="settings.tab = 'credit_card'">Change Credit Card<span class="caretB"></span></a>
          </div>
          <div class="btn-group" ng-show="user.role_type == 'Mentor'">
            <a href="" class="btn btn-default {{ settings.tab == 'bank_account' && 'active' || '' }}"  ng-click="settings.tab = 'bank_account'">Bank Account <span class="caretB"></span></a>
          </div>
          <!--<div class="btn-group">
            <a href="" class="btn btn-default {{ settings.tab == 'email_notification' && 'active' || '' }}"  ng-click="settings.tab = 'email_notification'">Email Notifications<span class="caretB"></span></a>
          </div>
          <div class="btn-group">
            <a href="" class="btn btn-default {{ settings.tab == 'account_status' && 'active' || '' }}"  ng-click="settings.tab = 'account_status'">Account Status<span class="caretB"></span></a>
          </div>-->
        </div>

        <div class="settingDetail row" ng-show="settings.tab == 'basic_info'">
          <div class="col-md-10 col-md-offset-1">
            <div ng-if="user" ng-include src="'settings/basic_information.html'"></div>
          </div>
        </div>

        <div class="settingDetail row" ng-show="settings.tab == 'change_password'">
          <div class="col-md-10 col-md-offset-1">
            <div ng-if="user" ng-include src="'settings/changepassword.html'"></div>
          </div>
        </div>

        <div class="settingDetail row" ng-show="settings.tab == 'credit_card'">
          <div class="col-md-10 col-md-offset-1">
            <div ng-if="user" ng-include src="'settings/creditcard.html'"></div>
          </div>
        </div>

        <div class="settingDetail row" ng-show="settings.tab == 'bank_account'">
          <div class="col-md-10 col-md-offset-1">
            <div ng-if="user" ng-include src="'settings/bank_account.html'"></div>
          </div>
        </div>

        <div class="settingDetail row" ng-show="settings.tab == 'email_notification'">
          <div class="col-md-10 col-md-offset-1">
            <div ng-if="user" ng-include src="'settings/emailnotifications.html'"></div>
          </div>
        </div>

        <div class="settingDetail row" ng-show="settings.tab == 'account_status'">
          <div class="col-md-10 col-md-offset-1">
            <div ng-if="user" ng-include src="'settings/account_status.html'"></div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>