<div data-extend-template="/layouts/layout.html">
  <div data-block="content">
    <div class="container" ng-show="flash_message">
      <div class="col-md-7 col-md-offset-2 successMsg mb10">
        <span class="iconPro i_check_w"></span>{{flash_message}} <a class="iconPro i_close_b fr" hide-flash-message></a>
      </div>
    </div>
    <section class="applicationAdvisors">
      <div class="container">
          <div class="row">
              <div class="col-md-7 col-md-offset-2">
                  <div ng-hide="user">
                      <form novalidate role="form" name="resetpasswordForm" ng-submit="changePassword()">
                        <input name="reset_password_token" ng-model="resetModel.reset_password_token" type="hidden" required="">
                        <div class="formBox mt20">
                          <h3>Change your password</h3>
                          <div class="row">
                            <div class="col-sm-12">
                                <label class="O11BU" for="resetPassword">New password</label>
                                <input name="password" ng-model="resetModel.password" type="password" id="resetPassword" placeholder="Enter password" required="" auto-focus>
                                <div class="error">{{resetpasswordFormError.password[0]}}</div>
                            </div>
                            <div class="cl">&nbsp;</div>
                            <div class="col-sm-12">
                                <label class="O11BU" for="resetConfirmPassword">Confirm Password</label>
                                <input name="password" ng-model="resetModel.confirmPassword" type="password" id="resetConfirmPassword" placeholder="Confirm password" required="">
                                <div class="error">{{resetpasswordFormError.password_confirmation[0]}}</div>
                            </div>
                          </div>
                          <div class="bottomBtn">
                              <button type="button" class="btn grd-org btnOrgLg ml20 fr" type="submit" ng-disabled="resetpasswordForm.$invalid" ng-click="changePassword()">Change my password</button>
                          </div>
                        </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
    </section>
  </div>
</div>