#
# Format:
#
# <stage name>:
#   app: <Heroku app name>
#   stack: <Heroku stack, optional>
#   tag: <git tag pattern, optional>
#   repo: <git repository, optional>
#   config:
#     - <Heroku config:var name>: <Heroku config:var value>
#

production:
  app: shyne
  stack: cedar
  config:
    RACK_ENV: production
    RAILS_ENV: production
    BUNDLE_WITHOUT: "development:test"
  addons:
    - sendgrid:starter
    - papertrail:choklad
    - heroku-postgresql
    - pgbackups:auto-month
    - ssl:endpoint

staging:
  app: shyne-staging
  stack: cedar
  config:
    RACK_ENV: staging
    RAILS_ENV: staging
    BUNDLE_WITHOUT: "development:test"
  addons:
    - sendgrid:starter
    - papertrail:choklad
    - heroku-postgresql
