<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hey <%= @mentor.user.first_name %>,</h1>
<p>
  We're excited that you’ve shown interest in Shyne, but at this time we’re unable to approve your application to be a mentor on our network. This could be for a variety of reasons, so please don’t take it personally – we encourage people to re-apply to become mentors on Shyne about every 3 months.
</p>
<p>Sincerely,<br/>
  Shyne Team
</p>
</body>
</html>