<div class="home-form">
    <header>
        <div class="container">
            <nav class="masthead">
                <ul class="nav navbar-nav pull-right">
                    <li ng-hide="user"><a href="#/login">Log In</a></li>
                    <li ng-show="user"><a href="#" ng-click="logout()">Log Out</a></li>
                </ul>
            </nav>
            <a class="logo" href="#/">Shyne</a>
        </div>
    </header>
    <div class="flash-message" ng-show="flash_message">
      <div class="inner">
        <div class="message">{{flash_message}}</div>
        <a class="closeIcon" title="Click to hide this message" hide-flash-message>x</a>
      </div>
    </div>
    <div class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <a href="#/settings" class="back-link"><span class="back-link-arrow-left">Back</span></a>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <div class="jumbotron" ng-show="user && user.role_type == 'Mentor'">
                        <h2>Basic Information</h2>
                        <form novalidate role="form" name="memberNameForm" class="css-form" ng-submit="updateUserInformation()">
                          <div class="form-group">
                              <label for="memberfirstName">First Name <span class="text-danger">{{memberFormError.first_name[0]}}</span></label>
                              <input name="firstName" ng-model="user.first_name" class="form-control" id="memberfirstName" placeholder="Enter first name" required="">
                          </div>
                          <div class="form-group">
                              <label for="memberLastName">Last Name <span class="text-danger">{{memberFormError.last_name[0]}}</span></label>
                              <input name="lastName" ng-model="user.last_name" class="form-control" id="memberLastName" placeholder="Enter last name" required="">
                          </div>
                          <div class="form-group">
                              <label for="mentorCity">City <span class="text-danger">{{memberFormError.city[0]}}</span></label>
                              <input name="city" ng-model="user.city" class="form-control" id="mentorCity" placeholder="Enter City" required="">
                          </div>
                          <div class="form-group">
                              <label for="mentorState">State <span class="text-danger">{{memberFormError.state[0]}}</span></label>
                              <select class="form-control" ng-model="user.state">
                                <option value="">Select State</option>
                                <option value="{{o}}" data-ng-repeat="o in state_list">{{o}}</option>
                              </select>
                          </div>
                          <div class="form-group">
                              <label for="mentorPhoneNumber">Cell Phone Number (Note: This is not shared with anyone, and only used to schedule calls) <span class="text-danger">{{memberFormError.phone_number[0]}}</span></label>
                              <input name="phoneNumber" ng-model="user.phone_number" ui-mask="9-999-999-9999" class="form-control" required="">
                          </div>
                          <div class="form-group">
                              <label for="memberTimeZone">Time Zone <span class="text-danger">{{memberFormError.time_zone[0]}}</span></label>
                              <select id="memberTimeZone" ng-model="user.time_zone" class="form-control">
                                  <option value="Alaska">Alaska</option>
                                  <option value="Arizona">Arizona</option>
                                  <option value="Central Time (US & Canada)">Central Time (US & Canada)</option>
                                  <option value="Eastern Time (US & Canada)">Eastern Time (US & Canada)</option>
                                  <option value="Hawaii">Hawaii</option>
                                  <option value="Indiana (East)">Indiana (East)</option>
                                  <option value="Mountain Time (US & Canada)">Mountain Time (US & Canada)</option>
                                  <option value="Pacific Time (US & Canada)">Pacific Time (US & Canada)</option>
                              </select>
                          </div>
                          <div class="button-group">
                              <button type="button" class="btn btn-primary" type="submit" ng-disabled="memberNameForm.$invalid" ng-click="updateUserInformation()">Save</button>
                          </div>
                      </form>
                    </div>


                    <div class="jumbotron" ng-show="user && user.role_type == 'Member'">
                        <h2>Basic Information</h2>
                        <form novalidate role="form" name="memberNameForm" class="css-form" ng-submit="updateUserInformation()">
                          <div class="form-group">
                              <label for="memberfirstName">First Name <span class="text-danger">{{memberFormError.first_name[0]}}</span></label>
                              <input name="firstName" ng-model="user.first_name" class="form-control" id="memberfirstName" placeholder="Enter first name" required="">
                          </div>
                          <div class="form-group">
                              <label for="memberLastName">Last Name <span class="text-danger">{{memberFormError.last_name[0]}}</span></label>
                              <input name="lastName" ng-model="user.last_name" class="form-control" id="memberLastName" placeholder="Enter last name" required="">
                          </div>
                          <div class="form-group">
                              <label for="memberPhoneNumber">Cell Phone Number (Note: This is not shared with anyone, and only used to schedule calls) <span class="text-danger">{{memberFormError.phone_number[0]}}</span></label>
                              <input name="phoneNumber" ng-model="user.phone_number" ui-mask="9-999-999-9999" class="form-control" required="">
                          </div>
                          <div class="form-group">
                              <label for="memberTimeZone">Time Zone <span class="text-danger">{{memberFormError.time_zone[0]}}</span></label>
                              <select id="memberTimeZone" ng-model="user.time_zone" class="form-control">
                                  <option value="Alaska">Alaska</option>
                                  <option value="Arizona">Arizona</option>
                                  <option value="Central Time (US & Canada)">Central Time (US & Canada)</option>
                                  <option value="Eastern Time (US & Canada)">Eastern Time (US & Canada)</option>
                                  <option value="Hawaii">Hawaii</option>
                                  <option value="Indiana (East)">Indiana (East)</option>
                                  <option value="Mountain Time (US & Canada)">Mountain Time (US & Canada)</option>
                                  <option value="Pacific Time (US & Canada)">Pacific Time (US & Canada)</option>
                              </select>
                          </div>
                          <div class="button-group">
                              <button type="button" class="btn btn-primary" type="submit" ng-disabled="memberNameForm.$invalid" ng-click="updateUserInformation()">Save</button>
                          </div>
                      </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div ng-include src="'shared/footer.html'"></div>
</div>