<form novalidate role="form" name="changepasswordForm" ng-submit="updatePassword()">
  <div class="formBox mt20">
    <div class="formContent">
      <div class="row">
        <div class="col-sm-6">
          <label class="O11BU">Current password </label>
          <input name="currentPassword" type="password" ng-model="changePasswordModel.current_password" id="memberCurrentPassword" placeholder="Enter Current Password" required="">
          <div class="error">{{changepasswordFormError.current_password[0]}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label class="O11BU">New password</label>
          <input name="password" type="password" ng-model="changePasswordModel.password" id="memberPassword" placeholder="Enter New Password" required="">
          <div class="error">{{changepasswordFormError.password[0]}}</div>
        </div>
        <div class="col-sm-6">
            <label class="O11BU">Re-enter New Password </label>
            <input name="passwordConfirmation" type="password" ng-model="changePasswordModel.confirmPassword"  id="advisorPasswordConfirmation" placeholder="Re-enter New Password" required="">
          <div class="error">{{changepasswordFormError.password_confirmation[0]}}</div>
        </div>
      </div>
      <div class="cl">&nbsp;</div>
    </div>
  </div>
  <div class="bottomBtn">
    <button type="button" class="btn grd-org btnOrgLg fr" type="submit" ng-disabled="changepasswordForm.$invalid" ng-click="updatePassword()">Change my password</button>
    <a class="btn grd-blue btnBlueLg" href="#/profile">Back</a>
  </div>
</form>