<form novalidate role="form" name="callDetailForm" ng-submit="addCreditCard()">
  <div class="formBox mt20">
      <div class="formContent">
        <div class="R20R">Please change your payment information</div>
        <div class="clAll bdb mb10 mt20"></div>

        <div class="formContent">
          <div class="row rowMar">
            <div class="col-sm-4">
              <label class="O11BU">Credit card number</label>
              <input type="text" name="cardNumber" ng-model="creditCardModel.card_number" id="creditCardCardNumber" placeholder="Credit Card #" required="">
              <div class="error">{{creditCardFormError}}</div>
            </div>
            <div class="col-sm-2">
              <label class="O11BU">CVV</label>
              <input type="text" name="SecurityCode" ng-model="creditCardModel.security_code" id="creditCardSecurityCode" placeholder="CVV" required="">
            </div>
            <div class="col-sm-3">
              <label class="O11BU">Expiration date</label>
              <div class="dropDown">
                <select class="form-control width48 monthSelect" ng-model="creditCardModel.expired_month" data-ng-options="o.name for o in expiredMonths"></select>
              </div>
            </div>
            <div class="col-sm-3">
              <label class="O11BU phoneDN">&nbsp;</label>
              <div class="dropDown">
                <select class="form-control width48" ng-model="creditCardModel.expired_year" data-ng-options="o.name for o in expiredYears"></select>
              </div>
            </div>
          </div>
          <div class="clAll bdb mb20 mt20"></div>
          <div class="row">
            <div class="col-sm-12">
              <p class="O12R">Your credit card will not be charged until after the call is complete. Somethng reassuring about security could also go here.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottomBtn">
    <button type="button" class="btn grd-org btnOrgLg fr" type="submit" ng-disabled="creditCardForm.$invalid" ng-click="addCreditCard()">Update</button>
    <a class="btn grd-blue btnBlueLg" href="#/profile">Back</a>
  </div>
</form>