<div class="home-form">
    <header>
        <div class="container">
            <nav class="masthead">
                <ul class="nav navbar-nav pull-right">
                    <li ng-hide="user"><a href="#/login">Log In</a></li>
                    <li ng-show="user"><a href="#" ng-click="logout()">Log Out</a></li>
                </ul>
            </nav>
            <a class="logo" href="#/">Shyne</a>
        </div>
    </header>
    <div class="flash-message" ng-show="flash_message">
      <div class="inner">
        <div class="message">{{flash_message}}</div>
        <a class="closeIcon" title="Click to hide this message" hide-flash-message>x</a>
      </div>
    </div>
    <div class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <a href="#/settings" class="back-link"><span class="back-link-arrow-left">Back</span></a>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <div class="jumbotron" ng-show="user">
                        <h2>Change Credit Card information</h2>
                        <form novalidate role="form" name="creditCardForm" class="css-form" ng-submit="addCreditCard()">
                          <div class="form-group">
                              <label>Card Number <span class="text-danger">{{creditCardFormError}}</span></label>
                              <input name="cardNumber" ng-model="creditCardModel.card_number" class="form-control" id="creditCardCardNumber" placeholder="Credit Card #" required="">
                          </div>
                          <div class="form-group">
                              <label>Security Code</label>
                              <input name="SecurityCode" ng-model="creditCardModel.security_code" class="form-control" id="creditCardSecurityCode" placeholder="CVC" required="">
                          </div>
                          <div class="form-group">
                              <label class="width100">Expiration Date?</label>
                              <select class="form-control width48 monthSelect" ng-model="creditCardModel.expired_month" data-ng-options="o.name for o in expiredMonths"></select>
                              <select class="form-control width48" ng-model="creditCardModel.expired_year" data-ng-options="o.name for o in expiredYears"></select>
                          </div>
                          <div class="button-group">
                              <button type="button" class="btn btn-primary" type="submit" ng-disabled="creditCardForm.$invalid" ng-click="addCreditCard()">Update</button>
                          </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include src="'shared/footer.html'"></div>
</div>