$blue: #3DA0FC;
$black: #333;
$gray: #4A5763;
$green: #45C9C3;
$white: #F7F9FA;
$red: #FF493E;

body {
  background-color: $white;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

@mixin round-corners($radius) {
  -moz-border-radius: $radius;    // firefox
  -webkit-border-radius: $radius; // safari/chrome
  border-radius: $radius;         // CSS3, works in IE9
}

input.ng-invalid.ng-dirty {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  &:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  }
}

input.ng-valid.ng-dirty {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  &:focus {
    border-color: #356635;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  }
}

.btn-primary {
  background-color: $gray;
  border-color: #39434F;
  &:hover, &:focus, &:active {
    background-color: #63758C;
    border-color: #57677D;
  }
}