$blue: #3DA0FC;
$black: #222;
$gray: #4A5763;
$green: #45C9C3;
$white: #F7F9FA;
$red: #FF493E;

body {
  background-color: $black;
  font-family: Helvetica, Arial;
}

a {
  color: $green;
  text-decoration: none;
  &:hover {
    color: $blue;
    text-decoration: underline;
  }
}

@mixin round-corners($radius) {
  -moz-border-radius: $radius;
// firefox
  -webkit-border-radius: $radius;
// safari/chrome
  border-radius: $radius;
// CSS3, works in IE9
}

@mixin circle($radius) {
  width: $radius;
  height: $radius;
  @include round-corners($radius);
  line-height: $radius;
  text-align: center;
  display: block;
}

input.ng-invalid.ng-dirty {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  &:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  }
}

input.ng-valid.ng-dirty {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  &:focus {
    border-color: #356635;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  }
}

.btn-primary {
  background-color: $gray;
  border-color: #39434F;
  &:hover, &:focus, &:active {
    background-color: #63758C;
    border-color: #57677D;
  }
}