<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', api_users_confirm_url(@resource, :confirmation_token => @token) %></p>

<p>or by entering this confirmation code in the website:</p>

<%= @token %>
