<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', api_confirmations_url(@resource, :confirmation_token => @token) %> (TODO: Point this link to front-end view)</p>

<p>or by pasting this confirmation code on the website:</p>

<%= @token %>
