<p>Welcome <%= @resource.first_name %>!</p>

<p>Click the link below to verify your e-mail address with Shyne:</p>

<p><%= link_to "#{root_url}#/verify/#{@token}", "#{root_url}/#/verify/#{@token}" %>

<p>If the link doesn't work, please copy and paste this code into the verification form: <code><%= @token %></code></p>

Thanks for using Shyne!
