<div data-extend-template="/layouts/layout.html">
  <div data-block="content">
    <section ng-hide="user">
      <div class="hero">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-md-offset-2">
              <div class="text-center">
                <h2>Please <a href="#/login">log in</a> to your Shyne account to continue</h2>
                <p class="R20R">Don't have an account? <a class="tcOrg" href="#/signup">sign up now</a> for free.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container" ng-show="flash_message">
      <div class="col-md-7 col-md-offset-2 successMsg mb10">
        <span class="iconPro i_check_w"></span>{{flash_message}} <a class="iconPro i_close_b fr" ng-click="removeFlashMessage()"></a>
      </div>
    </div>
    <div class="callsPage" ng-show="user">
      <div class="loaderimgText" style="display:none;" id="loaderimgText">
        <div><img src="/assets/ajax-loader.gif" /></div>
        <span style="font-size:20px;">Submitting...</span>
        <div class="backTransparant"></div>
      </div>
      <section class="callDashboard">
        <div class="container">
            <h2>Dashboard <span class="OC16BU tcOrg">Calls</span><span class="iconPro i_arrow_bullet_r mt10"></span><span class="OC16BUB">call with {{call_request.member.user.first_name}}</span></h2>
            <div class="row">
              <div class="col-md-3">
                <div ng-include src="'shared/left_menu.html'"></div>
              </div>
              <div class="col-md-9">
                <div class="callDetail mt20 pt10">
                    <div class="formBox">
                      <div class="dashBox">
                        <div class="callDashImage">
                          <img alt="" src="/assets/no_image.png" ng-src="{{ call_request.mentor.photo_url }}">
                          <span class="caretL"></span>
                          <span class="caretR"></span>
                          <div class="pt10 mt5 text-center O11BU tcblue">Mentor</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="pb5 R22R">{{ call_request.mentor.full_name }}</div>
                            <div class="pb10 O11BU tcblue">{{ call_request.mentor.current_position }} at <span class="tcOrg">{{ call_request.mentor.current_company }}</span></div>
                            <ul class="searchInfo">
                              <li><span class="iconPro i_ribbon"></span>{{ call_request.mentor.years_of_experience}} years work experience</li>
                              <li><span class="iconPro i_star"></span><star-rating-orange star-rating="call_request.mentor.get_avg_rating" max-star-rating="5"></star-rating-orange> <span class="O12B tcOrg pl5" ng-hide="true">{{call_request.mentor.total_reviews }} reviews</span></li>
                              <li><span class="iconPro i_pin"></span>{{ call_request.mentor.full_address }}</li>
                              <li><span class="iconPro i_case"></span>Previous: {{ call_request.mentor.previous_companies }}</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="formContent">
                        <div class="R22R pb10 mb5">Call Details</div>
                          <div class="row">
                            <div class="col-md-8">
                              <ul class="dashList listOc16">
                                <li><span class="tcblue">Requested time:</span> {{ call_request.scheduled_date }}</li>
                                <li><span class="tcblue">Estimated total:</span> {{ (call_request.mentor.rate_per_minute * call_request.proposed_duration) | currency:"$"}}</li>
                              </ul>
                            </div>
                            <div class="col-md-4">
                              <ul class="dashList listOs11">
                                <li>
                                    <span class="tcblue">Status: </span>
                                    <span class="tcOrg" ng-show="call_request.status == 'proposed'">Pending</span>
                                    <span class="tcOrg" ng-show="call_request.status == 'approved_mentor' || call_request.status == 'approved_member'">Accepted</span>
                                    <span class="tcOrg" ng-show="call_request.status == 'declined_mentor' || call_request.status == 'declined_member'">Declined</span>
                                    <span class="tcOrg" ng-show="call_request.status == 'changed_mentor' || call_request.status == 'changed_member'">Changed</span>
                                    <span class="tcOrg" ng-show="call_request.status == 'completed'">Completed</span>
                                    <span class="tcOrg" ng-show="call_request.status == 'cancelled_mentor' || call_request.status == 'cancelled_member'">Cancelled</span>
                                </li>
                                <li><span class="tcblue">Call rate:</span> ${{ call_request.mentor.rate_per_minute }}/min</li>
                                <li><span class="tcblue">Estimated length:</span> {{ call_request.proposed_duration }} min</li>
                              </ul>
                            </div>
                          </div>
                          <div class="formRow">
                            <div class="expireDateDetail">
                              <span class="text-danger">{{callRequestModelError}}</span>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                          </div>

                          <ul class="dashList listOc16">
                            <li ng-show="call_request.status == 'approved_mentor' || call_request.status == 'approved_member'">
                                This call has been scheduled for {{ call_request.scheduled_date_time }}
                            </li>
                          </ul>
                          <div class="bottomBtn">
                              <a ng-show="user.role_type == 'Mentor' && (call_request.status == 'proposed' || call_request.status == 'changed_member')" class="btn grd-org btnOrgLg" href="javascript:void(0)" ng-click="acceptDeclineCallRequest('approved_mentor')"><span class="iconPro i_check_sign"></span>Accept Call</a>
                              <a ng-show="user.role_type == 'Member' && call_request.status == 'changed_mentor'" class="btn grd-org btnOrgLg" href="javascript:void(0)" ng-click="acceptDeclineCallRequest('approved_member')"><span class="iconPro i_check_sign"></span>Accept Call</a>
                              <a ng-show="user.role_type == 'Mentor' && (call_request.status == 'proposed' || call_request.status == 'changed_member')" class="btn grd-lightBlue btnBlueLt" href="#/call_requests/{{ call_request.id }}/suggest"><span class="iconPro i_clock_sign"></span>Reschedule</a>
                              <a ng-show="user.role_type == 'Member' && call_request.status == 'changed_mentor'" class="btn grd-lightBlue btnBlueLt" href="#/call_requests/{{ call_request.id }}/suggest"><span class="iconPro i_clock_sign"></span>Reschedule</a>
                              <a class="btn grd-lightBlue btnBlueLt tcOrg" href="#/conversation"><span class="iconPro i_message_sign"></span>Message</a>
                              <a ng-show="user.role_type == 'Mentor' && (call_request.status == 'proposed' || call_request.status == 'changed_member')" class="btn grd-lightBlue btnBlueLt tcRed" href="javascript:void(0)" ng-confirm-click="Are you sure you want to decline this call request?" confirmed-click="acceptDeclineCallRequest('declined_mentor')"><span class="iconPro i_close_sign"></span>Decline Call</a>
                              <a ng-show="user.role_type == 'Member' && call_request.status == 'changed_mentor'" class="btn grd-lightBlue btnBlueLt tcRed" href="javascript:void(0)" ng-confirm-click="Are you sure you want ot decline this call request?" confirmed-click="acceptDeclineCallRequest('declined_member')"><span class="iconPro i_close_sign"></span>Decline Call</a>
                              <a ng-show="user.role_type == 'Mentor' && call_request.status == 'approved_mentor'" class="btn grd-lightBlue btnBlueLt tcRed" href="javascript:void(0)" ng-confirm-click="This call has already been scheduled. Are you sure you would like to cancel it?" confirmed-click="acceptDeclineCallRequest('cancelled_mentor')"><span class="iconPro i_close_sign"></span>Cancel Call</a>
                              <a ng-show="user.role_type == 'Member' && call_request.status == 'approved_member'" class="btn grd-lightBlue btnBlueLt tcRed" href="javascript:void(0)" ng-confirm-click="This call has already been scheduled. Are you sure you would like to cancel it?" confirmed-click="acceptDeclineCallRequest('cancelled_member')"><span class="iconPro i_close_sign"></span>Cancel Call</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>