<div data-extend-template="/layouts/layout.html">
  <div data-block="content">
    <section ng-hide="user">
      <div class="hero">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-md-offset-2">
              <div class="text-center">
                <h2>Please <a href="#/login">log in</a> to your Shyne account to continue</h2>
                <p class="R20R">Don't have an account? <a class="tcOrg" href="#/signup">sign up now</a> for free.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div ng-show="user">
      <section class="scheduleCall">
        <div class="loaderimgText" style="display:none;" id="loaderimgText">
          <div><img src="/assets/ajax-loader.gif" /></div>
          <span style="font-size:20px;">Submitting...</span>
          <div class="backTransparant"></div>
        </div>
        <!-- Availabel times -->
        <div class="container">
          <h2>Suggest a different time</h2>
          <div class="callDetail">
            <form novalidate role="form" name="avlTimeForm">
              <div class="formBox mt20">
                  <div class="formContent">
                    <label class="O11BU mb10">The call has currently been requested for:</label>
                    <span class="atText fleft">{{ call_request.scheduled_date }}</span>
                    <div class="row">
                      <div class="col-sm-12">
                        <label>Suggest a new time (in your timezone) for the call. The other party has the option of accept your new time or can reply back with another time that might be a better fit.</label>
                      </div>
                    </div>
                    <div class="clAll bdb mb10 mt20"></div>
                      <div class="row">
                        <div class="col-sm-5">
                          <input type="text" class="width40 fleft" id="scheduled_at" placeholder="Select Date" datepicker ng-model="callRescheduleModel.scheduled_at" required="">
                        </div>
                        <div class="col-sm-1">
                          <label class="atText fleft mt10">at</label>
                        </div>
                        <div class="col-sm-5">
                          <div class="dropDown">
                            <input ng-model="callRescheduleModel.scheduled_time"  id="scheduled_time" placeholder="Schedule Time" timepicker class="form-control width40 fleft" required="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="formRow">
                      <div class="expireDateDetail">
                        <span class="text-danger">{{callRequestModelError}}</span>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="bottomBtn">
                <a href="#/call_request/{{call_request.id}}" class="btn grd-blue btnBlueLg">Go Back</a>
                <button class="btn grd-org btnOrgLg fr" type="button" ng-disabled="avlTimeForm.$invalid" ng-click="updateCallRequest()">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>