<div ng-include src="'shared/masthead.html'"></div>
<section ng-hide="user">
  <div class="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="text-center info-message">
            <h2>Please <a href="#/login">log in</a> to access schedule call</h2>
            <p>Don't have an account yet, <a href="#/signup">sign up now</a> for free.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div ng-show="user">
  <div ng-show="user.role_type == 'Member'">
    <div class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="text-center info-message">
                        <h3>Please login with mentor to re-schedule a call</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div ng-show="user.role_type == 'Mentor'" class="mainBg">
    <div class="loaderimgText" style="display:none;" id="loaderimgText">
      <div><img src="/assets/ajax-loader.gif" /></div>
      <span style="font-size:20px;">Submitting...</span>
      <div class="backTransparant"></div>
    </div>
    <!-- Availabel times -->
    <div class="detailForm">
      <form novalidate role="form" name="avlTimeForm" class="css-form">
        <div class="formBox">
          <div class="formHeading">
              <h3>Suggest a different time</h3>
            </div>
            <div class="formContent">
              <div class="formRow">
                <div class="suggestTime">
                  <label>The call has currently been requested for:</label>
                  <span class="atText fleft">{{ call_request.scheduled_date }}</span>

                </div>
              </div>
              <div class="formRow">
                <div class="suggestTime">
                  <label>Suggest a time (in your timezone) for the call. The other party has the option of accept your new time or can reply back with another time that might be a better fit.</label>
                  <input type="text" class="form-control width40 fleft" id="scheduled_at" placeholder="Select Date" datepicker ng-model="callRescheduleModel.scheduled_at" required="">
                  <span class="atText fleft">at</span>
                  <input ng-model="callRescheduleModel.scheduled_time"  id="scheduled_time" placeholder="Schedule Time" timepicker class="form-control width40 fleft" required="">
                </div>
              </div>
              <div class="formRow">
                <div class="expireDateDetail">
                  <span class="text-danger">{{callRequestModelError}}</span>
                </div>
              </div>
            </div>
        </div>
        <div class="bottomBtn">
          <button class="btn btn-continue fright" type="button" ng-disabled="avlTimeForm.$invalid" ng-click="updateCallRequest()">Submit</button>
        </div>
      </div>
  </div>

</div>