<!DOCTYPE html>
<html ng-app="Shyne">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shyne</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="container">
  <nav class="masthead">
    <ul class="nav nav-pills pull-right">
      <li><a href="#">Our Mission</a></li>
      <li><a href="#">Mentors</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Sign up</a></li>
    </ul>
  </nav>
  <h3>Shyne</h3>
</header>

<setion ng-view></setion>

<footer>
  <div class="container">
    <p>&copy; Shyne, Inc 2013</p>
  </div>
</footer>

<%= javascript_include_tag "application" %>
</body>
</html>
